//extends layout
//block content
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        script(src='/js/jquery-1.7.2.js')
        script(src='/js/register.js')
        script.


    body

    include includes/header

    include includes/nav

    #status
    if error
        p= error

    form(method='post')
        span 用户名：
        input#name(type='text',name='name')
        br
        span 密码：
        input#pwd(type='password',name='password')
        br
        span 确认密码：
        input#pwdAgain(type='password',name='passwordRepeat')
        br
        span 邮箱：
        input#email(type='email',name='email')
        br

    button#submit 注册

    include includes/footer



