extends layout

block content

   include includes/header

   include includes/nav

   #status
      if (success)
         div= success
      else
         div= error

   form(method='post',action='/blog/upload',enctype='multipart/form-data')
      input(type='file',name='pic')
      br
      //input(type='file',name='file2')
      //br
      //input(type='file',name='file3')
      //br
      button 提交

   include includes/footer